In [35]:
# Iman Wahle
# September 2019
# Calculate DSN/DRN statistics from saved bootstrap results

In [ ]:
import numpy as np
import pandas as pd

In [51]:
result_name = "tf_results_dsi4"
d = pd.read_csv("results/" + result_name + ".csv")

In [52]:
d.head()

,Unnamed: 0,session_id,cell_id,n_cells,drn_accum,dsn_accum,is_drn,is_dsn
0,0,556353209,557374817,21,550,951,False,True
1,1,556353209,557374888,21,13,921,False,False
2,2,556353209,557374807,21,206,227,False,False
3,3,556353209,557374802,21,413,527,False,False
4,4,556353209,557374843,21,566,771,False,False

In [53]:
print("Number of DRNs: " + str(sum(d.is_drn)))
print("Number of DSNs: " + str(sum(d.is_dsn)))
print("n_drn/n_dsn: " + str(sum(d.is_drn) / float(sum(d.is_dsn))))

Number of DRNs: 557
Number of DSNs: 10192
n_drn/n_dsn: 0.0546507064364

In [ ]:
# sftf, dsi>0.25:
#     Number of DRNs: 444
#     Number of DSNs: 2751
#     n_drn/n_dsn: 0.161395856052
# tf, dsi>0.25:
#     Number of DRNs: 814
#     Number of DSNs: 13631
#     n_drn/n_dsn: 0.05971682195
# sftf, dsi>0.3:
#     Number of DRNs: 416
#     Number of DSNs: 2535
#     n_drn/n_dsn: 0.164102564103
# tf, dsi>0.3:
#     Number of DRNs: 708
#     Number of DSNs: 12515
#     n_drn/n_dsn: 0.0565721134638
# sftf, dsi>0.4:
#     Number of DRNs: 359
#     Number of DSNs: 2148
#     n_drn/n_dsn: 0.167132216015
# tf, dsi>0.4:
#     Number of DRNs: 557
#     Number of DSNs: 10192
#     n_drn/n_dsn: 0.0546507064364